.title, #calculator {
    margin-left: 10px;
}
html {
    background-color: #2c2f33;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.title, .intentCode, label {
    color: white;
}

label:hover {
    background-color: white;
}

label {
    user-select: none;
}

input[type="checkbox"] {
    margin-left: 2px
}

input[type="checkbox"]:checked {
    background-color: #7289da;
}

.intentCode {
    background-color: #7289da;
    width: 30%;
}

